<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uninorte.rubricas">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="Rúbrica"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Prueba"
            android:label="Rúbrica"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cursos"
            android:label="@string/title_activity_cursos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Rubrica"
            android:label="Rúbrica"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Estudiantes"
            android:label="@string/title_activity_estudiantes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Formulario"
            android:label="Formulario Estudiantes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Elementos"
            android:label="Categoría"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Formulario2"
            android:label="Formulario Categoría"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Subelementos"
            android:label="Elementos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Formulario3"
            android:label="Formulario Elementos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Evaluacion"
            android:label="Evaluación"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Evaluaciones"
            android:label="Evaluaciones Categoria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Formulario4"
            android:label="Asignación de Evaluación"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Subelementos2"
            android:label="Calificación de Elementos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EstudianteNota"
            android:label="Nota Estudiante"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>